<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Example</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function retrieveTopics() {
            var url = 'topics';

            if ($('#searchTopic').val() != '') {
                url = url + '/' + $('#searchTopic').val();
            }

            $("#resultsBlock").load(url);
        }
    </script>
</head>
<body>
<div class="container">
    <form>
        <span class="subtitle">Topic List Form</span>
        <div class="listBlock">
            <div class="search-block">
                <input type="text" id="searchTopic" name="searchTopic"/>
                <br />
                <label for="searchTopic" th:text="#{search.label}">Search label:</label>
                <button id="searchButton" name="searchButton" onclick="retrieveTopics()" type="button"
                        th:text="#{search.button}">Search button</button>
            </div>

            <!-- Results block -->
            <div id="resultsBlock">

            </div>
        </div>
    </form>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>